body
{
    background-color: rgb(229, 227, 223);
}

#top
{
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: center;
    position: relative;
}
#call
{
    margin-top: -60px;
    margin-left: 40%;
}
#mail
{
    margin-top: -80px;
    margin-left: 50%;
}
#opentime
{
    margin-top: -78px;
    margin-left: 65%;
}
#toll
{
    margin-top: -76px;
    margin-left: 80%;
    margin-right: 90px;
    background-color: rgb(253, 112, 98);
    
    text-align: center;
}

#navigation
{
    z-index: 3;
    background-color:rgb(31, 66, 93);
    color: white;
    margin-left: 80px;
    margin-top: -30px;
    margin-right: 80px;
    margin-bottom: 50px;
    position: relative;
    font-family: sans-serif;
    font-style:normal;
 
}
#home
{
    margin-top: -67px;
    margin-left: 5%;
    padding-top: 40px;
    margin-bottom: -11px;
    margin-right: 700px;
    
}
#vf
{
    margin-top: -90px;
    margin-left: 15%;
    padding-top: 40px;
    margin-bottom: -61px;
    margin-right: 800px;
    
}
#services
{
    margin-top:-45px;
    margin-left: 30%;
    border: 1px solid rgba(0, 0, 255, 0);
    margin-right: 750px;
    margin-bottom: -60px;
}
#about
{
    margin-top: -40px;
    margin-left: 40%;
}
#news
{
    margin-top: -40px;
    margin-left: 50%;
}
#shop
{
    margin-top: -40px;
    margin-left: 60%;
}
#contact
{
    margin-top: -40px;
    margin-left: 70%;
}
#search
{
    margin-top: -40px;
    margin-left: 80%;
}
#quote
{
 
    
    margin-top: -62px;
    margin-bottom: -18px;

   border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 90%;
    background-color:rgb(74, 185, 207);
    align-items: center;
    text-align:center;
    
}
#truck
{
    z-index: 2;
    margin-top: -80px;
    width: 100%;
    height: 100%;
    
    
}
#head
{
    border: 1px solid red;
    margin-top: -350px;
    margin-left: 5%;
    width: 45%;
    color: white;
    font-size:x-large;
}
#para
{
    font-size: large;
    width: 50%;
    color: white;
    margin-left: 4%;
    margin-top: -23px;
}
#btn-1,#btn-2
{
    border:none;
    padding:5px 15px;
    border-radius:5px;
    width:150px;
    cursor:pointer;
    
}

#btn-1{
    background-color:blue;
    color:white;    
    margin-left:100px;
}